@{
    ViewData["Title"] = "Home Page";
}

    <div class="col mx-auto text-center">
        <img src="img/a-change-in-lifestyle-1430599_1280.jpg" width="500" height="500" class="img-fluid text-center" alt="Responsive image">
    </div>


<div class="text-center">
    <p>
        Você sabia que manter um estilo de vida saudável vai muito além da sua alimentação? Este conceito, além de muito amplo, é refletido em vários aspectos da vida pessoal e sua combinação pode influenciar todas as áreas que competem à saúde individual, sejam elas físicas, mentais, espirituais ou sociais.
    </p>
    <p>
        Quanto mais os cedo hábitos saudáveis forem inseridos no seu cotidiano, melhor. Criar uma rotina que visa o bem-estar físico e mental traz diversos benefícios e pode, inclusive, ajudar na prevenção de várias doenças.
    </p>
    <p>
        Ressaltando que a escolha de determinado estilo de vida engloba as relações de trabalho, o convívio familiar, a escolha de atividades recreativas e a rotina domiciliar, torná-lo o mais saudável possível pode ser um fator determinante para a qualidade e a expectativa de vida.
    </p>
    <p>
        Entre as principais atitudes que podem compor o seu cotidiano, é importante atentar-se para a inclusão de práticas de saúde preventiva, realização sessões regulares de exercícios físicos e mentais, moderação no consumo de substâncias nocivas ao organismo e controle do peso atavés da boa nutrição.
    </p>
    <p>
        Lembre-se de que um estilo de vida saudável ajuda a marter a mente sempre alerta e o corpo em movimento.
    </p>
</div>
